.container {
    background-color: white;
    height: 100%;
    padding: var(--padding-large) var(--padding-medium) var(--padding-medium) var(--padding-medium);
}

.title {
    margin: var(--margin-medium) 0;
}
