body {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
}

div#root {
  width: -webkit-fill-available;
  border: 2px solid black;
}

p {
  margin: auto;
  text-align: center;
  padding: 0 25px;
  line-height: 1;
}

div.App_containerApp__F0W0w {
  min-height: calc(100vh - 4px);
  font-size: 80%;
}
