.container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1)
}

.header {
    display: flex;
    flex-direction: row;
    line-height: 30px;
}

.name {
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}

.description {
    font-size: 14px;
}
