.containerApp {
  background-image: url('./images/bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerHeader {
  align-items: center;
  padding: var(--padding-medium);
  height: 80px;
}

.containerLogo {
  --width: 200px;
  position: absolute;
  width: var(--width);
  left: calc(50% - var(--width) / 2);
  top: var(--padding-medium);
  cursor: pointer;
}

.containerContent {
  margin: var(--margin-medium);
  flex: 1;
}

.subtitle {
  position: relative;
  bottom: 20px;
  left: 115px;
  color: var(--color-grey-dark);
}

.buttonBack {
  cursor: pointer;
  user-select: none;
  width: 25px;
  height: 25px;
  margin-top: var(--margin-large);
}

.buttonBackDisabled {
  color: var(--color-grey-light);
}

.buttonBack:not(.buttonBackDisabled):hover {
  color: var(--color-grey-dark);
}
