@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

