:root {
    --margin-small: 5px;
    --margin-medium: 10px;
    --margin-large: 15px;

    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 15px;

    --size-font-small: 14px;
    --size-font-medium: 16px;
    --size-font-large: 20px;

    --color-openfin-blue: #504CFF;
    --color-white-darkened: #EFEFEF;
    --color-grey-dark: #666666;
    --color-grey-light: #AAAAAA;
}


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}
